* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

#algorithm-name {
    text-align: center;
}

.toolbar {
    position: fixed;
    left: 8px;
    top: 8px;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .1), 0 2px 4px 4px rgba(0, 0, 0, .05);
}

#buttons {
    margin-bottom: 16px;
    display: flex;
}

#cy {
    width: 100%;
    height: 100%;
}

canvas {
    left: 0;
}
